/* styles.css */
body{
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    background-color: cornsilk;
}
p {
    font-style: italic;
    font-weight: bold;
    font-family: cursive;
    padding: 10px;
    color:#bebe01
}

h1 {
    color: #595901;
        font-family: Helvetica;
}

h2 {
    color:#717101;
    font-family: 'Courier New', Courier, monospace, sans-serif;
}

button {
    background-color: #5f5f00;
    color: white;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
    border-radius: 50px;
    width: 500px;
    height: 100px;
    margin: 15px;
}

button:hover {
    background-color: #808000;}
    