/* styles.css */
body{
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    background-color: cornsilk;
}
img{
    width: 5%;
    height: 5%;
}
p {
    font-style: italic;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace, sans-serif;
    padding: 10px;
    color:#000000
}

h1 {
    color: #FFD700;
        font-family: Helvetica;
}

h2 {
    color:#000000;
    font-family: 'Courier New', Courier, monospace, sans-serif;
}

button {
    background-color: #FFD700;
    color: white;
    border: 2px solid black;
    padding: 10px 5%;
    font-size: 17px;
    border-radius: 50px;
    width: 200px;
    height: 100px;
    margin: 15px;
    text-align: center;
}

button:hover {
    background-color: #000000;}
    